<footer class="footer bg-primary py-3 mt-auto">
  <div class="container">
    <span class="">&copy; Intelligent Transportation Systems, LLC 2021</span>
  </div>
  <div class="container">
    <span>Creator: David Benoit</span>
  </div>
</footer>
