<%- layout('layouts/boilerplate') %>

<h1>Clients</h1>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/stBernard.png" class="card-img-top img-fluid" alt="..."/>
            <div class="card-body">
              <h5 class="card-title">SBPHTD</h5>
              <p class="card-text">
                St. Bernard Port Harbor and Terminal District, located in
                Chalmette, LA. Currently XX devices on the network and growing.
              </p>
              <p class="card-text">
                <small class="text-muted">Network IP: 192.168.0.X</small>
              </p>
            </div>
            <div class="card-footer">
              <form action="clients/sbphtd" method="get">
              <button class="btn btn-success">View Assets</button>
            </form>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">PPHTD</h5>
              <p class="card-text">
                Plaquemines Port Harbor & Terminal District, located in Belle
                Chasse, LA.
              </p>
              <p class="card-text">
                <small class="text-muted">Network IP: 192.168.254.X</small>
              </p>
            </div>
            <div class="card-footer">
              <form action="clients/pphtd" method="get">
                <button class="btn btn-success">View Assets</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">POSLA</h5>
              <p class="card-text">
                Port of South Louisiana, located in Reserve, LA.
              </p>
              <p class="card-text">
                <small class="text-muted">Network IP: 192.168.224.X</small>
              </p>
            </div>
            <div class="card-footer">
              <form action="clients/posla" method="get">
                <button class="btn btn-success">View Assets</button>
              </form>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
